* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    opacity:0;
    height:64px;
    width:100%;
    position:absolute;
    top:0;
    background-color:#ffffff;
}
body{
    background-color:#ffffff;
    height:100vh;
    overflow:hidden;
}
#gameCanvas {
    --background-opacity: 0.5;
    background-color: #ffffff;
    background-image:
        linear-gradient(
            rgba(255, 255, 255, calc(1 - var(--background-opacity))),
            rgba(255, 255, 255, calc(1 - var(--background-opacity)))
        ),
        url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:block;
    width:100vw;
    height:100vh;
}